# .coveragerc to control coverage.py

[run]
omit =
    libs/*
    jinja2/*
    /Library/Python/*
    /Applications/GoogleAppEngineLauncher.app/*
    /System/Library/Frameworks/*

[report]
omit =
    libs/*
    jinja2/*
    /Library/Python/*
    /Applications/GoogleAppEngineLauncher.app/*
    /System/Library/Frameworks/*